html,body{
    margin:0;
    height:100%;
}
body{
    display:flex;
    justify-content: center;
    align-items: center;
}
canvas{
    border:1px solid rgb(77, 22, 179);
    background-image:url(images/shapes.png);
}

body{
 #circle{
        width: 200px;
        height: 200px;
        background: rgb(6, 8, 133);
        border-radius: 50%;
        margin-inline-start: 40px;
        margin: auto;
        margin-top: 80px 40px;
        margin-left: 85px 50px;
    }

}

body{
    #square{
      width: 200px;
      height: 200px;
      background: rgb(149, 93, 201);
      margin: auto;
      margin-right: 680px;
      margin-top: 680px:
      

    }

}

body{
    #pentgon{
        position:relative;
        width: 45px;
        box-sizing: content-box;
        border-width: 50px 18px 0;
        border-style: solid;
        border-color: rgb(180, 243, 243) transparent;
        margin: auto;
        margin-top: 30px;

    }

    #pentgon::after{
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        top: -85;
        left: -18px;
        border-width: 0 45px 35px;
        border-style: solid;
        border-color: transparent transparent rgb(180, 243, 243);

    }

}

body{
    #star{
     position: absolute;
     width: 0;
     height: 0;
     border-left: 50px solid transparent;
     border-right: 50px solid transparent;
     border-bottom: 80px solid rgb(105, 142, 212);
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%);
    }
    #star:after{
        content: " ";
        position: absolute;
        width: 0;
        height: 0;
        border-left: 50px solid transparent;
        border-right: 50px solid transparent;
        border-top: 80px solid rgb(105, 142, 212);
        margin: 30px 0 0 -50px;
    }
}
